.zhuti{
	width:100%;
	text-align: center;
	position: absolute;
	top:100%;
	padding-top:72px;
}
.zhuti .modular{
	padding:120px 6%;
	/*margin-bottom:50px;*/
}
.zhuti .modular .modular_head{
	display: inline-block;
	clear: right;
	padding:10px 0;
	font-weight: 900;
	font-size: 32px;
	margin-bottom:30px;
	position: relative;
}
.zhuti .modular hr{
	width:0;
	border:0;
	height:4px;
	background-color:#333;
	position: relative;
	top:-35px;
	transition: all 1s 0.5s;
}
.zhuti .modular.active hr{
	width:80px;
}
.modular .donghua{
	opacity: 0;
	transform: translateY(30px);
	transition: all 1s 0.5s;
}
.modular.active .donghua{
	opacity: 1;
	transform: translateY(0);
}
.zhuti .jianjie{
	width:60%;
	margin:0 auto;
	color:#333;
	font-size:14px;
	text-align: left;
}

.zhuti .job_wanted{
	height:28vh;
	margin-top:80px;
}
.zhuti .job_wanted .intention{
	width:33.33%;
	/*height:120px;*/
	float:left;
}

.zhuti .jingli{
	margin-top: 50px;
	position: relative;
}
.zhuti .jingli:after{
	content: '';
	position: absolute;
	top:-10px;
	left:calc(50% - 10px);
	width:20px;
	height:20px;
	background-color: red;
	border-radius: 50%;
}
.zhuti .jingli:before{
	content: '';
	position: absolute;
	top:0px;
	left:calc(50% - 3px);
	width:6px;
	height:100%;
	background-color: #888;
}
.zhuti .jingli .neirong{
	width:100%;
	height:120px;
}
.zhuti .jingli .left{
	width:40%;
	height:120px;
	border:1px solid #999;
	float: left;
	position: relative;
}
.zhuti .jingli .left:after{
	content: '';
	position: absolute;
	top:calc(50% - 3px);
	left:100%;
	width:25%;
	height:6px;
	background-color: red;
}
.zhuti .jingli .right{
	width:40%;
	height:120px;
	border:1px solid #999;
	float: right;
	position: relative;
}
.zhuti .jingli .right:after{
	content: '';
	position: absolute;
	top:calc(50% - 3px);
	left:-25%;
	width:25%;
	height:6px;
	background-color: red;
}

.zhuti .jishu{
	width:100%;
	height:300px;
}
.zhuti .jishu .master{
	width:25%;
	float: left;
}